<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/logo.png">
    <title>404 error | Sync</title>
    <style>
        body{
            margin-top: 14%;
        }

        h2{
            font:Arial, Helvetica, sans-serif
        }
    </style>
</head>
<body>
    <div align="center" id="title">
        <img src="{{url_for('static', filename='logo.png')}}">
    </div><br><br>
    <!---->
    <div class="container" align="center">
        <h1>Sorry bud, the page you are looking for <br> does not exist (404 error)</h1>
    </div>

</body>
</html>