<!DOCTYPE html>
<html>
<head>
    <title>Sync | Login here</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/logo.png">
    <style>
    a 
    {
        color: blue;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container"> <a class="navbar-brand" href="#">
                <b>Sync</b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar17">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar17">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="/register_page">Register</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="https://github.com/chetankar65/Sync">Github Repository</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="py-5 text-center h-100"
        style="	background-color: lightblue;background-size: cover;	background-position: top left;	background-repeat: repeat;">
        <div class="container">
            <div class="row h-75">
                <div class="mx-auto col-md-6 col-10 bg-white p-5">
                    <h1 class="mb-4">Login</h1>
                    <div id="msg" class="no"></div>
                    <form id="form">
                        <div class="form-group"> <input type="text" class="form-control" placeholder="Enter username"
                                id="username"> </div>
                        <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Enter Password"
                                id="password"> <small class="form-text text-muted text-right">
                                <a href="#"> Recover password</a>
                            </small>
                            <small class="form-text text-muted text-right">
                                <a href="/register_page">Sign up here</a>
                            </small>
                        </div> <input type="submit" class="btn btn-secondary" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
function uuidv4() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}

document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#form').onsubmit = () => {
        var username = document.querySelector('#username').value
        var pass = document.querySelector('#password').value
        // Initialize new request
        const request = new XMLHttpRequest();
        request.open('POST', '/login');

        // Callback function for when request completes
        request.onload = () => {
            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            // Update the result div
            if (data.success) {
                location.reload()
            }
            else {
                document.querySelector('#msg').innerHTML = data.msg;
                document.querySelector('#msg').className = 'alert alert-danger';
            }
        }

        // Add data to send with request
        const data = new FormData();
        data.append('username', username);
        data.append('password', pass);
        data.append('csrf_token', "{{ csrf_token() | safe}}")
        // Send request
        request.send(data);
        return false;
    }
});
</script>
</html>