<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
    <link rel="icon" href="/static/logo.png">
    <title>Sync | Watch videos, movies and listen to songs with your friends</title>
    <style>
        #username,
        #roomCode,
        #message,
        #displayName {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 50%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        .submit {
            background-color: blue;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 50%;
        }

        #message_box {
            background-color: gold;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
        }

        #user_message_box {
            background-color: lime;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
        }

        .user_box {
            background-color: red;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }

        .admin_box {
            background-color: green;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }

        .permitted_box {
            background-color: blue;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }

        #progress-bar {
            position: relative;
            width: 100%;
            height: 20px;
            cursor: pointer;
        }

        #youtube {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #555;
            outline: none;
        }

        #controls i {
            color: #000;
            font-size: 32px;
            cursor: pointer;
        }

        #volume-input {
            height: 32px;
            width: 45px;
        }

        body {
            margin-top: 2%;
        }

        #messages {
            bottom: 0;
        }

        #permissions h5 {
            color: white;
        }

        .container {
            width: 100%;
            height: 50%;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(79, 12, 214);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav p {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #f7f3f1;
            display: block;
            transition: 0.3s;
        }

        .sidenav p:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <audio id="message_audio">
        <source src="/static/notification.mp3" type="audio/mpeg">
    </audio>
    <div class='row'>
        <div class="col-lg-8" align='center'>
            <h3>Room ID : {{room}} &nbsp; &nbsp; <button class="btn btn-primary" onclick="copyToClipboard()">+
                    Invite</button></h3><br>
            <div class="container">
                <video id="player" style="--plyr-color-main: #1ac266;">
                </video>
            </div>
            <div class="jumbotron">
                <button class="btn btn-success" id="mute"><i class='fas fa-volume-down'></i></button>
                <button class="btn btn-info" id="fullscreen"><i class='fas fa-expand'></i></button>
                <button class="btn btn-secondary" id="mic" onclick="muteLocalAudio()"><i class='fas fa-microphone'></i></button>
                <button class="btn btn-primary" id="notification"><i class='fas fa-bell'></i></button>
                <br><br>
                <div id="controls"></div>
            </div>
        </div>
        <br><br>
        <div class="col-lg-4" style="width:100%;">
            <button class='btn btn-danger' onclick="exit()">Exit room</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                What the colors mean?
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#voicechat">
                Voicechat
            </button>
            <br><br>
            <h3>Chat :</h3>
            <hr>
            <div id="messages" style="height:400px;overflow:scroll;" align='left'>
            </div>
            <br>
            <input type="text" id="message" style="width:100%;padding:20px;" placeholder="Message...">
            <button style="padding: 12px 20px 12px;width:100%;" class="submit" onclick="send_message()"
                id="send_btn">Send message</button>
            <hr>
            <h3 align='center'>Permissions</h3><br>
            <div id="users" align='center' style="height:150px;overflow:scroll;">
            </div>
            <hr>
            <ul>
                <li>Powered by <a href="https://github.com/sampotts/plyr">Plyr.js</a> and <a
                        href="https://developers.google.com/youtube/iframe_api_reference">Youtube API</a></li>
                <li>Sourced at <a href="https://github.com/chetankar65/Sync">Github</a></li>
            </ul>
            <br>
            <h3>Blocked users</h3>
            <div id="blockerUsers">
                
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Colors</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" align='center'>
                    <p class="admin_box">Group creator</p><br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            Removing permission<br>
                            <button class="btn btn-danger" style="width: 100%;">&#10007;</button><br>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            Set permission <br>
                            <button class="btn btn-success" style="width: 100%;">&#10004;</button><br>
                        </div>
                    </div><br>
                    <p class="permitted_box">Group moderator</p><br>
                    <p class="user_box">Standby</p><br>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="voicechat">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Voicechat</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" align='center'>
                    <div id="onlineUsers">

                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*
            Check frequently video state:
            -1 - unstarted
            0 - ended
            1 - playing
            2 - paused
            3 - buffering
            5 - video cued
        */
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port, {secure: true})
        var audio = document.getElementById("message_audio")
        var user = "{{ user | safe}}"
        var moderator = "{{ moderator | safe}}"
        var code = "{{ room | safe }}"
        var muteAudio = false
        // Initialise video
        const player = new Plyr('#player', { 'controls': 0 });

        function copyToClipboard() {
            swal('Copy the link: ' + window.location.href)
        }

        // exit the room
        function exit() {
            swal("Leaving...", { button: false })
            socket.emit('leave', { 'code': code })
            setTimeout(redirect, 3000)
        }

        // exit
        window.addEventListener('beforeunload', function (event) {
            exit()
        });

        // update progress bar
        function updateProgressBar() {
            document.getElementById('progress').setAttribute('max', player.duration)
            document.getElementById('progress').setAttribute('value', player.currentTime)
            document.getElementById('time').innerHTML = `${player.currentTime}`.toHHMMSS();
            document.getElementById('duration').innerHTML = `${player.duration}`.toHHMMSS();
        }
        
        ////////////////////
        // Audio chat
        function muteLocalAudio() {
            if (muteAudio == false) {
                muteAudio = true
                document.getElementById('mic').innerHTML = `<i class='fas fa-microphone-slash'></i>`
            } else {
                muteAudio = false
                document.getElementById('mic').innerHTML = `<i class='fas fa-microphone'></i>`
            }
        }
        var constraints = {audio: true};
        // Media Devices
        /*
        navigator.mediaDevices.getUserMedia(constraints).then(function (mediaStream) {
            /////
            var mediaRecorder = new MediaRecorder(mediaStream);
            mediaRecorder.ignoreMutedMedia = false
            mediaRecorder.onstart = function (e) {
                // diving the audio into chunks
                this.chunks = [];
            };

            mediaRecorder.ondataavailable = function (e) {
                // push all the audio bytes to radio
                if (muteAudio == false) {
                    this.chunks.push(e.data);
                    var blob = new Blob(this.chunks);
                    socket.emit('radio', {'blob': blob, 'code': code});
                }
            };

            mediaRecorder.start();

            setInterval(function () {
                mediaRecorder.stop()
                mediaRecorder.start();
            }, 300);
        });
        */
        
        ////////////////////
        // keyValue
        document.addEventListener('DOMContentLoaded', () => {
            var notificationSound = true
            /// Playing the audio
            function playAudio() {
                audio.play();
            }
            // Pausing the audio
            function pauseAudio() {
                audio.pause();
            }
            // Load all the users
            function loadAllUsers(code) {
                socket.emit('get users', { 'code': code });
            }
            // load the video
            function loadTheVideo(code) {
                socket.emit('video', { 'code': code })
            }
            // Load all the messages
            function loadAllMessages(code) {
                socket.emit('get messages', { 'code': code });
            }
            // Send message
            socket.on('connect', () => {
                socket.emit('join', { 'code': code })
                loadAllMessages(code)
                loadAllUsers(code)
                loadTheVideo(code)
                return false;
            })
            // Notification controls
            jQuery(document.body).on('click', '#notification', function (event) {
                if (notificationSound) {
                    document.getElementById('notification').innerHTML = "<i class='fas fa-bell-slash'></i>"
                    document.getElementById('message_audio').muted = true
                    notificationSound = false
                }
                else {
                    document.getElementById('notification').innerHTML = "<i class='fas fa-bell'></i>"
                    document.getElementById('message_audio').muted = false
                    notificationSound = true
                }
            });
            // Here we run the video
            socket.on('left', function (json) {
                swal(json.greet, { button: false })
                playAudio()
            })
            /// all the users
            socket.on('allUsers', function (json) {
                var content = ''
                for (var i = 0; i < json.users.length; i++) {
                    if (json.users[i] == json.moderator) {
                        content += `<p class="admin_box">${json.users[i]} &nbsp;</p><br>`
                    } else if (json.permissions.includes(json.users[i]) === true) {
                        if (user == json.moderator) {
                            content += `<button class="btn btn-primary remove" style="width:100%;" value="${json.users[i]}">${json.users[i]} &nbsp; &#10007;</button><br>`
                        } else {
                            content += `<p class="permitted_box">${json.users[i]}</p><br>`
                        }
                    } else {
                        if (json.permissions.includes(json.users[i]) === false) {
                            if (user == json.moderator) {
                                content += `<button class="btn btn-danger permit" style="width:100%;" value="${json.users[i]}">${json.users[i]} &nbsp; &#10004;</button><br>`
                            } else {
                                content += `<p class="user_box">${json.users[i]}</p><br>`
                            }
                        }
                    } 
                }
                // voiceChat content
                document.querySelector('#users').innerHTML = content
                var voicechatContent = ''
                for (var x = 0; x < json.users.length; x++) {
                    voicechatContent += `<p>${json.users[x]} &nbsp; &nbsp;<i class='fas fa-microphone'></i><p>`
                }

                document.getElementById('onlineUsers').innerHTML = voicechatContent
            })
            // Error message
            socket.on('error', function (json) {
                swal(json.err, { button: false })
            })
            // Voice chat socket
            /*
            socket.on('voice', function (arrayBuffer) {
                var blob = new Blob([arrayBuffer], { 'type' : 'audio/webm;codecs=opus' });
                var audio = document.createElement('audio');
                audio.src = window.URL.createObjectURL(blob);
                audio.play();
            });
            */
            // Enter button
            var input = document.getElementById('message')
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("send_btn").click();
                }
            });
            // Scroll to the bottom of the messages division
            function scrollToBottom(id) {
                var div = document.getElementById(id);
                div.scrollTop = div.scrollHeight - div.clientHeight;
            }
            // get all the messages
            socket.on('allmessages', function (json) {
                var content = ''
                for (var i = 0; i < json.messages.length; i++) {
                    if (user == json.messages[i].username) {
                        content +=
                        `<div id="user_message_box">
                            <b>${json.messages[i].username}</b><br><br>
                            ${json.messages[i].message}
                        </div><br>
                        `
                    } else {
                        content +=
                        `<div id="message_box">
                            <b>${json.messages[i].username}</b><br><br>
                            ${json.messages[i].message}
                        </div><br>
                        `
                    }
                }
                document.querySelector('#messages').innerHTML = content
                scrollToBottom("messages")
                playAudio()
            })
            // Hour, minute, seconds
            String.prototype.toHHMMSS = function () {
                var sec_num = parseInt(this, 10); // don't forget the second param
                var hours = Math.floor(sec_num / 3600);
                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                var seconds = sec_num - (hours * 3600) - (minutes * 60);

                if (hours < 10) { hours = "0" + hours; }
                if (minutes < 10) { minutes = "0" + minutes; }
                if (seconds < 10) { seconds = "0" + seconds; }
                return hours + ':' + minutes + ':' + seconds;
            }
            // change the video URL
            jQuery(document.body).on('click', '#changeUrl', function (event) {
                var link = document.getElementById('youtube').value
                socket.emit('change video', { 'code': code, 'link': link })
                loadTheVideo(code)
            });
            // remove permission
            jQuery(document.body).on('click', '.remove', function (event) {
                var user = $(this).val()
                socket.emit('remove permission', { 'code': code, 'user': user })
                loadAllUsers(code)
                loadTheVideo(code)
            });
            // Permit permission
            jQuery(document.body).on('click', '.permit', function (event) {
                var user = $(this).val()
                socket.emit('set permission', { 'code': code, 'user': user })
                loadAllUsers(code)
                loadTheVideo(code)
            });
            /// give alert if someone left
            socket.on('video-player', function (json) {
                player.source = {
                    type: 'video',
                    sources:
                        [
                            {
                                src: json.link,
                                provider: 'youtube',
                            },
                        ],
                }

                var content = `
                <p>Use these controls to sync with your partner.</p><br>
                <span id="time">00:00</span> / <span id="duration">00:00</span>
                <input type="range" id="progress" style="width: 100%;" max="" value="">
                <button class="btn btn-primary" id="togglePlay"><i class='fas fa-play'></i>&nbsp;<i
                        class='fas fa-pause'></i></button>
                <button class="btn btn-danger" id="restart"><i class='fas fa-redo'></i></button>
                <button class="btn btn-info" id="rewind"><i class='fas fa-step-backward'></i></button>
                <button class="btn btn-info" id="forward"><i class='fas fa-step-forward'></i></button>
                <button class="btn btn-warning" id="sync"><i class='fas fa-sync'></i></button><br><br>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" id="youtube" placeholder="Youtube URL" style="width:50%;">
                    <button class="btn btn-primary mb-2" id="changeUrl" style="padding:12px 20px;">Change URL</button>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-6 col-md-6">
                        <p>Speed</p>
                        <select id="speed">
                            <option>0.25</option>
                            <option>0.5</option>
                            <option selected="selected">1</option>
                            <option>1.5</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-6 col-md-6">
                        <p>Quality</p>
                        <select id="quality">
                            <option>small</option>
                            <option>medium</option>
                            <option selected="selected">large</option>
                            <option>hd720</option>
                            <option>hd1080</option>
                            <option>highres</option>
                        </select>
                    </div>
                </div>
                `
                if (json.moderator == user) {
                    document.getElementById('controls').innerHTML = content
                    setInterval(updateProgressBar, 1000)
                }
                else if (json.permitted_members.includes(user) === true) {
                    document.getElementById('controls').innerHTML = content
                    setInterval(updateProgressBar, 1000)
                } else {
                    document.getElementById('controls').innerHTML = '<h3>Only the creator of the room can control the video!</h3>'
                }
            })
            // Mute Video
            function muteVideo() {
                if (player.muted) {
                    player.muted = false
                    document.getElementById('mute').innerHTML = `<i class='fas fa-volume-down'></i>`
                }
                else {
                    player.muted = true
                    document.getElementById('mute').innerHTML = `<i class='fas fa-volume-mute'></i>`
                }
            }
            // Onlick mute
            jQuery(document.body).on('click', '#mute', function (event) {
                muteVideo()
            });
            // fullscreen
            jQuery(document.body).on('click', '#fullscreen', function (event) {
                player.fullscreen.toggle()
            });
            // sync
            function sync(time) {
                socket.emit('sync videos', { 'code': code, 'time': time })
            }
            // sync
            function jump(jump) {
                socket.emit('sync progress', { 'code': code, 'jump': jump })
            }
            // Progress bar
            jQuery(document.body).on('input change', '#progress', function () {
                var newTime = event.target.value;
                var toJump = newTime - player.currentTime
                jump(toJump)
            });
            // toggle video state
            jQuery(document.body).on('click', '#togglePlay', function (event) {
                var control = true
                socket.emit('control_video', { 'control': control, 'code': code })
            });
            // speed of the video
            jQuery(document.body).on('change', '#speed', function (event) {
                var speed = $(this).val();
                socket.emit('control_speed', { 'speed': speed, 'code': code })
            });
            // Rewind
            jQuery(document.body).on('click', '#rewind', function (event) {
                var value = $(this).val();
                socket.emit('rewind', { 'value': value, 'code': code })
            });
            // Forward
            jQuery(document.body).on('click', '#forward', function (event) {
                var value = $(this).val();
                socket.emit('forward', { 'value': value, 'code': code })
            });
            // quality of the video
            jQuery(document.body).on('change', '#quality', function (event) {
                player.quality = $(this).val()
            });
            // Syncing with partner
            jQuery(document.body).on('click', '#sync', function (event) {
                sync(player.currentTime)
            });
            // All rooms
            socket.on('allRooms', function (json) {
                swal(json.greet, { button: false })
                var video = json.link
                playAudio()
            })
            // Set the playback speed of the video
            socket.on('speed', function (json) {
                player.speed = json.speed
            })
            // Jump Forwarded
            socket.on('jumpForward', function (json) {
                player.forward(json.value);
            })
            // Jump Rewinded
            socket.on('jumpRewind', function (json) {
                player.rewind(json.value);
            })
            // Get the status of the video
            socket.on('status', function (json) {
                player.togglePlay()
            })
            // Restart the video
            jQuery(document.body).on('click', '#restart', function (event) {
                socket.emit('restart', { 'value': true, 'code': code })
                document.getElementById('progress').setAttribute('value', 0)
            });
            // synced
            socket.on('synced', function (json) {
                console.log(json.time)
                player.currentTime = json.time
            })
            // synced
            socket.on('progress', function (json) {
                if (json.jump > 0) {
                    player.forward(json.jump)
                }
                else {
                    player.rewind(Math.abs(json.jump))
                }
            })
            // started
            socket.on('restarted', function (json) {
                player.restart()
            })
        })
        // send the message on click or on enter
        function send_message() {
            var message = document.querySelector('#message').value
            if (message.length == 0 && message.trim() == "") {
                return false
            }
            else {
                socket.emit('message', { 'code': code, 'message': message })
                document.querySelector('#message').value = ''
            }
        }
        // function redirect
        function redirect() {
            window.location.replace("/")
        }
    </script>
</body>

</html>