
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>How to Control YouTube's Video Player with JavaScript</title>
    <link rel="stylesheet" href="demo.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">

</head>
<body>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="video-placeholder"></div>
<div id="controls">

    <ul>

        <li>

            <h2>Player Initialization</h2>

        <li>

            <h2>Duration</h2>

            <p><span id="current-time">0:00</span> / <span id="duration">0:00</span></p>


        </li>

        <li>

            <h2>Progress Bar</h2>

            <input type="range" id="progress-bar" value="0">

        </li>

        <li>

            <h2>Play</h2>
            <i id="play" class="material-icons">play_arrow</i>

        </li>

        <li>

            <h2>Pause</h2>
            <i id="pause" class="material-icons">pause</i>

        </li>

        <li>
            <h2>Mute / Unmute</h2>
            <i id="mute-toggle" class="material-icons">volume_up</i>
        </li>

        <li>
            <h2>Set volume</h2>
            <input id="volume-input" type="number" max="100" min="0">
        </li>

        <li>
            <h2>Speed</h2>
            <select id="speed">
                <option>0.25</option>
                <option>0.5</option>
                <option selected="selected">1</option>
                <option>1.5</option>
            <option>2</option>
            </select>
        </li>

        <li>

            <h2>Quality</h2>
            <select id="quality">
                <option>small</option>
                <option>medium</option>
                <option selected="selected">large</option>
                <option>hd720</option>
                <option>hd1080</option>
            <option>highres</option>
            </select>
        </li>

        <li>
            <h2>Playlist Next</h2>
            <i id="next" class="material-icons">fast_forward</i>
        </li>

        <li>
            <h2>Playlist Previous</h2>
            <i id="prev" class="material-icons">fast_rewind</i>
        </li>

    </ul>

</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="script.js"></script>

<!-- Demo ads. Please ignore and remove. -->
<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>

</body>
</html>